PORT = 8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET="SACHIN"
REFRESH_TOKEN_SECRET="SACHIN"
ACCESS_TOKEN_EXPIRY = "1d"
REFRESH_TOKEN_EXPIRY = "30d"
RESEND_API_KEY= "re_bSDFVhKL_GatsKQ2C5XKAGWjgoXDR753J"
CLOUDINARY_CLOUD_NAME="duo5xera3"
CLOUDINARY_API_KEY="125572495196169"
CLOUDINARY_API_SECRET="JPkgLB66bmN_l97jtkbe99rAPSY"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:tarahara5@localhost:5432/quizdb?schema=public"